/* Enable smooth in-page scrolling */
html {
  scroll-behavior: smooth;
}


/* Base page styles */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/* Header container */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  padding: 16px 32px;
}

/* Header inner layout */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

/* Navigation layout */
nav {
  display: flex;
  gap: 24px;
  /* align-items: center; */
}

/* Navigation links */
nav a {
  color: #222846;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

/* Hover state */
nav a:hover {
  text-decoration: underline;
}

/* Logo */
.logo img {
  height: 36px;
  display: block;
}

/* Desktop default */
.menu-toggle { display: none; }

@media (max-width: 768px) {
  .header-inner { display: flex; justify-content: space-between; }
  
  .menu-toggle { display: block; font-size: 24px; cursor: pointer; }

  .nav-links {
    display: none; /* Hide it initially */
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
	transition: max-height 0.4s ease, opacity 0.3s ease; /* The animation */
  }

  /* When JS adds this class, the menu appears */
  .nav-links.show {
    display: flex;
  }
}
